body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /*background-color: #000*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: black;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

h2 {
  color: #444444;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}


.search-bar {
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #DDDDDD;
}

.input-container {
  margin-right: 20px;
}

.input-container:last-child{
  margin-right: 0
}

input {
  background-color: #ffffff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

input:focus {
  border: 2px solid #27ae60;
}

select {
  background-color: #ffffff;
  border-radius: 12px;
  color: #757575;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

select:focus {
  border: 2px solid #27ae60;
}

.col1, .col2 {
  width: 50%;
  box-sizing: border-box;
}

.announcement {
  display: flex;
}

.announcement:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 740px){
  /*media query dla listy kategorii*/
  .category-container {
    flex-direction: column !important;
  }

  .user-info {
    padding-bottom: 40px;
    margin: 0 auto;
  }
  .user-info-container {
    flex-direction: column !important;
    padding-bottom: 40px !important;
  }

  .info-container {
    margin: 0 auto;
  }

  .justify, .flex, .form, .announcement {
    flex-direction: column;
  }

  .myacc-photo-container, .photo-container {
    padding-right: 0 !important;
  }

  .myacc-photo-container img, .photo-container img {
    max-width: 100% !important;
    max-height: 100% !important;
  }

  .logo-container {
    padding: 15px !important;
  }

  .col1, .col2 {
    width: 100% !important;
  }

  .col1 {
    margin-bottom: 20px !important;
  }
}
